:root {
    --player1: #f89c74;
    --player2: #dcb0f2;
    --black: #3D3D3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Shanti;
}

@font-face {
    font-family: Shanti;
    src: url(../assets/shanti.ttf);
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    margin: 0 8px;
    border-bottom: 1px solid lightgray;
}

#player1ScoreText {
    border: 1px solid var(--black);
    border-radius: 4px;
    padding: 5px 7px;
    background: var(--player1);
}

#player2ScoreText {
    border: 1px solid var(--black);
    border-radius: 4px;
    padding: 5px 7px;
    background: var(--player2);
}

#player2Score,
#player1Score {
    font-weight: 900;
}

main {
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.startScreen {
    display: grid;
    grid-template-rows: 1fr 25px 1fr 15px 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 41px;
}

button {
    padding: 20px 25px;
    border: none;
    background-color: var(--black);
    color: white;
    border-radius: 14px;
}

button:hover {
    background-color: #595959;
}

.startScreenText {
    align-self: end;
}

#startScreenButtons {
    grid-row-start: 3;
    align-self: start;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#startScreenLinks {
    grid-row-start: 5;
    display: flex;
    justify-content: space-around;
}

#startScreenLinks a {
    color: white;
    text-decoration: none;
    border: 1px solid var(--black);
    padding: 10px;
    background: #A8B5E0;
    border-radius: 5px;
}

#startScreenLinks a:hover {
    background-color: #7d90d1;
}

.gameScreen {
    width: 600px;
    height: 610px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 500px 60px;
}

.gameActions {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.gameActions img {
    width: 30px;
}

.gameBoard {
    width: 600px;
    height: 500px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 65px);
    grid-template-rows: repeat(6, 65px);
    align-content: center;
    justify-content: center;
    background-color: #b3b3b3;
    border-radius: 22px;
    gap: 10px;
    border: 5px solid #666666;
    color: white;
}

.gameBoardCell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px var(--black) ridge;
    border-radius: 50%;
}

.player1Disc {
    background-color: var(--player1);
}

.player2Disc {
    background-color: var(--player2);
}

.gameInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}