* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Shanti;
}

@font-face {
    font-family: Shanti;
    src: url(shanti.ttf);
}

body {
    min-height: 100vh;
    width: 100vw;
}

main {
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    border-bottom: 1px solid lightgray;
}

.startScreen {
    display: grid;
    grid-template-rows: 1fr 25px 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
}

#startScreenButtons button {
    padding: 20px;
}

.startScreenText {
    align-self: end;
}

#startScreenButtons {
    grid-row-start: 3;
    align-self: start;
    display: flex;
    justify-content: center;
    gap: 40px;
}


/* GAME ACTIVE */

.gameScreen {
    width: 700px;
    display: grid;
    grid-template-columns: 550px 150px;
}

.gameBoard {}

.gameInfo {
    /* border: solid 1px blueviolet; */
    display: grid;
    grid-template-rows: 55px 6fr 4fr;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0px 20px 20px 0;
}

.gameInfoActions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameInfoActions img {
    width: 45px;
}

#gameInfoQuit {
    grid-column: 1 / 2;
}

#gameInfoRestart {
    grid-column: 4 / 5;
}

#gameInfoCurrentAction {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-left: 0;
}


#player1ScoreText {
    position: relative;
}

#player1ScoreText::before {
    content: "";
    background-color: hsla(196, 61%, 58%, .55);
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 50%;
    z-index: -1;
}

/*

.gameActiveScreen {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.player1Info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player2Info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameInfo {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}*/

.gameBoard {
    /* width: 500px; */
    height: 500px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 65px);
    grid-template-rows: repeat(6, 65px);
    align-content: center;
    justify-content: center;
    background-color: #27272A;
    background-color: #94afb6;
    border-radius: 20px 0px 0px 20px;
    gap: 10px;
    border: 5px solid black;
    color: white;
}

.gameBoardCell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: white;
    border: 1px black ridge;
    border-radius: 50%;
}

.player1Disc {
    background-color: red;
}

.player2Disc {
    background-color: yellow;
}

/* 
footer {
    height: 33px;
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #27272A;
    color: white;
    text-align: right;
} */